*{
    margin: 0;
    padding: 0;
}

main, header, footer{
    padding: 20px;
    font-size: 16pt;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", serif;
    text-indent: 10px;
}

main{
    flex: 1;
}

h2{
    background-color:beige;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}