{% extends "app/base.html" %}
{% load static %}

{% block title %} Borrar Usuario {% endblock %}
{% block section_title %} Borrar Usuario {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'usuario_modificar.css' %}">
{% endblock %}

{% block main %}
    <h3>Borrar usuario</h3>
    <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro de querer borrar: "{{object}}"?</p>
        {{ form }}
        <input type="submit" value="Confirm">
    </form>
{% endblock %}